@model uppg6Formulär.ViewModels.PersonViewModel

<h2>Bekräftelse</h2>
<br /><br />

<label asp-for="@Model.MinPerson.Namn"></label>
@Model.MinPerson.Namn
<br />

<label asp-for="MinPerson.Adress"></label>
@Model.MinPerson.Adress
<br />

<label asp-for="MinPerson.Postort"></label>
@Model.MinPerson.Postort
<br />

<label asp-for="MinPerson.Postnummer"></label>
@Model.MinPerson.Postnummer
<br />

<label asp-for="MinPerson.Mobiltelefon"></label>
@Model.MinPerson.Mobiltelefon
<br />

<label asp-for="MinPerson.Email"></label>
@Model.MinPerson.Email
<br />

<label asp-for="MinPerson.Utbildningsbeskrivning"></label>
@Model.MinPerson.Utbildningsbeskrivning
<br />

<label asp-for="MinPerson.Region"></label>
@Model.MinPerson.Region
<br />

<label asp-for="MinPerson.Körkort"></label>
@Model.MinPerson.Körkort
<br />



