@model uppg6FormulärCV.ViewModels.PersonViewModel

<label asp-for="MinPerson.Namn"></label>
@Model.MinPerson.Namn
<br /><br />

<label asp-for="MinPerson.Email"></label>
@Model.MinPerson.Email
<br /><br />

<label asp-for="MinPerson.Gatuadress"></label>
@Model.MinPerson.Gatuadress
<br /><br />

<label asp-for="MinPerson.Postnr"></label>
@Model.MinPerson.Postnr
<br /><br />

<label asp-for="MinPerson.Ort"></label>
@Model.MinPerson.Ort
<br /><br />

<label asp-for="MinPerson.Telefon"></label>
@Model.MinPerson.Telefon
<br /><br />

<label asp-for="MinPerson.Utbildningsbeskrivning"></label>
@Model.MinPerson.Utbildningsbeskrivning
<br /><br />

<label asp-for="MinPerson.Körkortsstatus"></label>
@Model.MinPerson.Körkortsstatus
<br /><br />

<label asp-for="MinPerson.Region"></label>
@Model.MinPerson.Region
<br /><br />

<label asp-for="MinPerson.Hobby"></label>
@Model.MinPerson.Hobby
<br /><br />
